<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela Campeonato</title>
    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
    </head>
    <body>
        
        <table class="table table-bordered" >
                    <thead>
                       <tr>
                            <td >Cód</td>
                            <td>Nome</td>
                            <td>Pontos</td>
                            <td>JG</td>
                            <td>JP</td>
                            <td>EMPATE</td>
                            <td>GP</td>
                            <td>GC</td>
                            <td>SG</td>
                                                        
                        </tr>  
                    </thead>
                    <tbody>        
                            <tr th:each="time : ${times}">
                                <td th:text="${time.cod_time}"></td>
                                <td th:text="${time.nome_time}"></td>
                                <td th:text="${time.pontos}"></td>
                                <td th:text="${time.vitorias}"></td>
                                <td th:text="${time.derrotas}"></td>
                                <td th:text="${time.empates}"></td>
                                <td th:text="${time.gols_pro}"></td>
                                <td th:text="${time.gols_contra}"></td>
                                <td th:text="${time.gols_saldo}"></td>
                            </tr>	
                    </tbody>   
                    </table> 
    </body>
</html>
