<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atleta</title>
    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
</head>
<body>
        <body>               
            <div class="container">
                     <div class="row">  
                         <a type="submit" class="btn btn-default" href="insertAtleta">Novo atleta</a> 
                     </div>
                     <br/>
                     <div class="row">
                    <table class="table table-bordered" >
                    <thead>
                       <tr>
                            <td>Cód</td>
                            <td>Nome</td>
                            <td>Time</td>
                            <td>Ações</td>
                                                        
                        </tr>  
                    </thead>
                    <tbody>        
                            <tr th:each="atleta : ${atletas}">
                                    <td th:text="${atleta.cod_atleta}"></td>
                                    <td th:text="${atleta.nome_atleta}"></td>
                                    <td th:text="${atleta.time.nome_time}"></td>		
                                    <td>
                                        <a th:href="@{/alterarAtleta(id=${atleta.cod_atleta})}">Alterar</a>
                                        <a th:href="@{/excluirAtleta(id=${atleta.cod_atleta})}">Excluir</a>
                                    </td>
                                </tr>	
                    </tbody>   
                    </table> 
                     </div>
            </div>
</body>
</html>