<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time</title>
    <style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
</head>
<body>
        <body>               
            <div class="container">
                     <div class="row">  
                         <a type="submit" class="btn btn-default" href="insertTime">Novo Time</a> 
                     </div>
                     <br/>
                     <div class="row">
                    <table class="table table-bordered" >
                    <thead>
                       <tr>
                            <td>Cód</td>
                            <td>Nome Time</td>  
                            <td>Ações</td>          
                        </tr>  
                    </thead>
                    <tbody>        
                        <tr th:each="time : ${times}">
                                <td th:text="${time.cod_time}"></td>
                                <td th:text="${time.nome_time}"></td>		
                                <td>
                                    <a th:href="@{/alterarTime(id=${time.cod_time})}">Alterar</a>
                                    <a th:href="@{/excluirTime(id=${time.cod_time})}">Excluir</a>
                                </td>
                        </tr>	
                    </tbody>   
                    </table> 
                     </div>
            </div>
</body>
</html>